In [2]:
from scipy.stats import skew
import numpy as np
import pandas as pd
import pandas_datareader.data as pdr
import matplotlib.pyplot as plt

In [3]:
START_DATE = '2019-1-1'
END_DATE = '2021-1-1'

In [4]:
TICKER = 'TSLA'

In [5]:
df = pdr.DataReader(TICKER, 'yahoo', start=START_DATE, end=END_DATE)
df.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-12-31  67.842003  65.052002  67.557999  66.559998  31511500.0  66.559998
2019-01-02  63.026001  59.759998  61.220001  62.023998  58293000.0  62.023998
2019-01-03  61.880001  59.476002  61.400002  60.071999  34826000.0  60.071999
2019-01-04  63.599998  60.546001  61.200001  63.537998  36970500.0  63.537998
2019-01-07  67.348000  63.549999  64.344002  66.991997  37756000.0  66.991997

In [7]:
df['Returns'] = df['Close'].pct_change()
df['Returns']

Date
2018-12-31         NaN
2019-01-02   -0.068149
2019-01-03   -0.031472
2019-01-04    0.057697
2019-01-07    0.054361
                ...
2020-12-24    0.024444
2020-12-28    0.002901
2020-12-29    0.003465
2020-12-30    0.043229
2020-12-31    0.015674
Name: Returns, Length: 506, dtype: float64

In [9]:
s = skew(df['Returns'].dropna())
print('Skewness of the Returns ' + str(s))

Skewness of the Returns -0.02966546888779888