# Calculate Expected Returns of a Stock

## Equation

## Step-by-step Procedure

In [2]:
import numpy as np
import pandas as pd
import pandas_datareader.data as pdr
import matplotlib.pyplot as plt

In [4]:
START_DATE = '2018-1-1'
END_DATE = '2019-1-1'
TICKER = 'SPY'

In [5]:
df = pdr.DataReader(TICKER, 'yahoo', start=START_DATE, end=END_DATE)
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,268.809998,267.399994,267.839996,268.769989,86655700.0,251.650986
2018-01-03,270.640015,268.959991,268.959991,270.470001,90070400.0,253.242722
2018-01-04,272.160004,270.540009,271.200012,271.609985,80636400.0,254.310120
2018-01-05,273.559998,271.950012,272.510010,273.420013,83524000.0,256.004791
2018-01-08,274.100006,272.980011,273.309998,273.920013,57319200.0,256.473022

In [6]:
df['Returns'] = df.Close.pct_change()
df['Returns']

Date
2018-01-02         NaN
2018-01-03    0.006325
2018-01-04    0.004215
2018-01-05    0.006664
2018-01-08    0.001829
                ...
2018-12-24   -0.026423
2018-12-26    0.050525
2018-12-27    0.007677
2018-12-28   -0.001290
2018-12-31    0.008759
Name: Returns, Length: 251, dtype: float64

In [8]:
annual_expected_return = df['Returns'].mean()
annual_expected_return

-0.00023248654202514808

## Resources:

1. https://www.youtube.com/watch?v=XElayIIG4ow
2. https://www.wallstreetmojo.com/expected-return-formula/
3. https://corporatefinanceinstitute.com/resources/knowledge/trading-investing/expected-return/