In [25]:
# Notebook Tutorial: How To Get The Sharpe Ratio Of The Stock Returns

# import the necessary modules
import math
import numpy as np
import pandas as pd
import pandas_datareader.data as pdr
import matplotlib.pyplot as plt

In [4]:
START_DATE = '2015-1-1'
END_DATE = '2021-1-1'
TICKER = 'SPY'

In [8]:
# get the OHLCV data from Yahoo Finance into a Pandas DataFrame
df = pdr.DataReader(TICKER, 'yahoo', start=START_DATE, end=END_DATE)

# get the returns of the closing prices
df['Returns'] = df['Close'].pct_change().fillna(0)

df.head()

,High,Low,Open,Close,Volume,Adj Close,Returns
Date,,,,,,,
2014-12-31,208.190002,205.389999,207.990005,205.539993,130333800.0,181.653259,0.000000
2015-01-02,206.880005,204.179993,206.380005,205.429993,121465900.0,181.556000,-0.000535
2015-01-05,204.369995,201.350006,204.169998,201.720001,169632600.0,178.277176,-0.018060
2015-01-06,202.720001,198.860001,202.089996,199.820007,209151400.0,176.598022,-0.009419
2015-01-07,202.720001,200.880005,201.419998,202.309998,125346700.0,178.798615,0.012461

In [10]:
# get the mean of the returns
average_returns = df['Returns'].mean()

print('Average Returns')
print(average_returns)

Average Returns
0.0004634404733814084

In [11]:
# the the volatility, aka standard deviation
standard_deviation = df['Returns'].std()

print('Volatility')
print(standard_deviation)

Volatility
0.011599696874412601

In [12]:
# get the risk-free rate, usually you can consider this as zero
risk_free_rate = 0

print('Risk Free Rate')
print(risk_free_rate)

Risk Free Rate
0

In [18]:
# get the sharpe ratio
sharpe_ratio = (average_returns - risk_free_rate) / standard_deviation

print('Sharpe Ratio')
print(sharpe_ratio)

Sharpe Ratio
0.03995280897414629

In [24]:
# set the annual_window as 252 (trading days in a year)
annual_window = 252 

print('Annual Window (252 trading days in a year)')
print(annual_window)

Annual Window (252 trading days in a year)
252

In [26]:
#get the annualized sharpe ratio
annualized_sharpe_ratio = sharpe_ratio * math.sqrt(annual_window)

print('Annualized Sharpe Ratio')
print(annualized_sharpe_ratio)

Annualized Sharpe Ratio
0.6342311803443642