# Calculate Price Density Ratio

**Definition:** - It is the result of dividing the difference of the sum of the Highs and sum of the Lows by the difference of the highest High and lowest Low.

**Uses:** Used to filter out noises in the price movement.

## Equation

$$
\Large PD = \frac{\sum High_{n} - \sum Low_{n}}{Max(High_{n}) - Min(Low_{n})}
$$

**WHERE**

**PD** = Price Density

**n** = time series window

**High** = High price of candlestick

**Low** = Low price of candlestick

**Max** = Highest value from the series

**Min** = Lowest values from the series

## Step-by-step Procedure

1. Import the modules needed
2. Set the variables
3. Get the stock data of the ticker
4. Get the sum of all the High
5. Get the sum of all the Low
6. Get the highest High
7. Get the lowest low
8. Calculate the Price Density Ratio

## 1. Import the modules needed

In [56]:
import numpy as np
import pandas as pd
import pandas_datareader.data as pdr
import matplotlib.pyplot as plt

## 2. Set the variables

In [57]:
START_DATE = '2020-1-1'
END_DATE = '2021-1-1'
TICKER = 'SPY'
N = 10

## 3. Get the stock data of the ticker

In [58]:
df = pdr.DataReader(TICKER, 'yahoo', start=START_DATE, end=END_DATE)
df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-24,369.029999,367.450012,368.079987,369.000000,26457900.0,365.425323
2020-12-28,372.589996,371.070007,371.739990,372.170013,39000400.0,368.564636
2020-12-29,374.000000,370.829987,373.809998,371.459991,53680500.0,367.861511
2020-12-30,373.100006,371.570007,372.339996,371.989990,49455300.0,368.386353
2020-12-31,374.660004,371.230011,371.779999,373.880005,78520700.0,370.258057

## 4. Get the sum of all the High

In [59]:
sum_high = df['High'].sum()
sum_high

82272.99993896484

## 5. Get the sum of all the Low

In [60]:
sum_low = df['Low'].sum()
sum_low

80864.2300415039

## 6. Get the highest High

In [61]:
max_high = df['High'].max()
max_high

378.4599914550781

## 7. Get the lowest low

In [62]:
min_low = df['Low'].min()
min_low

218.25999450683594

## 8. Calculate the Price Density Ratio

In [63]:
pdr = (sum_high - sum_low) / (max_high - min_low)
pdr

8.793819752169448

## Resources

1. https://www.youtube.com/watch?v=kpFuB-cvW7g